.container { 
    display: grid;
    max-width: 100%;
    height: 100vh;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 15% 1fr 25%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 2em;
    }

    .header {
        background-color: rgb(175, 170, 170);
        grid-column: 1/4;        
        text-align: center;
    }

    .main {
        background-color: orange;
        display: grid;
        grid-template-columns: 30% 30%;
        grid-template-rows: 50px 100px 100px;
        gap: 20px;
        justify-content: center;
        align-content: flex-end;
        max-width: 100%;
        padding-bottom: 30px;
    }

    .main__text{
        grid-column: 1/3;
    }

    .main__section_1,
    .main__section_2,
    .main__section_3 {
        background-color: rgb(246, 215, 153);
    }

    .main__section_1 {        
        grid-column: 1/2;
    }

    

    .main__section_3 {        
        grid-column: 1/3;        
    }

    .sidebar {
        background-color: aquamarine;
    }

    .footer {
        grid-column: 1/4;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 350px));
        grid-template-rows: 40px;
        justify-content: center;
        align-content: center;
        background-color: rgb(175, 170, 170);
        gap: 25px;        
    }

    .footer__section_1 {
        background-color: white;
    }  

    @media screen and (max-width: 1024px) {
        .footer {
        /* display: none;         */
    }
}

    @media screen and (max-width: 768px) {
        .container {
            display: flex;
            flex-direction: column;
        }
        .main {
            display: flex;
            flex-direction: column;
        }
        .footer {
            display: flex;
            flex-direction: column;
        }
        
    }